<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>       
    <title>Company</title>
    {% load static %}
    <script src = "{% static 'scripts/scripts.js' %}"></script>
    <title>Faculty_Student</title>
</head>
<body>
        <nav>
                <div class="nav-wrapper" style ="background: #4a148c ">
                  <a href="/faculty_dashboard/" class="brand-logo"> <img  src="{% static 'assets/WE.png' %}"  height="65" width="300"> </a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                      <li><a href="/faculty_dashboard/">{{ username }}</a></li>
                      <li><form action = 'Post'> {% csrf_token %} <a href="/logout/">Log out</a></form></li>
                      
                    <!-- <li><a href="collapsible.html">{{Student_sign_up.student_id}}</a></li> -->
                  </ul>
                </div>
        </nav>
        {% for fs in facstu %}
        <center>
            <div class="container z-depth-2" style="background:#f3e5f5 " style="margin-top: 2vw;">       
                <div class="student_profile" style ="align-content: center">
                  <form class ="col s12" method="POST">
                    {% csrf_token %}
                            <div class="row">
                            <div class=" col s12">
                                <div class="input-field col s12">
                                    <textarea  name = "full_name" id="full_name" class="materialize-textarea" >{{ fs.student_name }}</textarea>
                                    <label for="full_name">Name of the Student</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <div class=" col s12">
                            <div class="input-field col s12">
                                <textarea type = "email" name = "email" id="email" class="materialize-textarea" >{{ fs.student_email_id }}</textarea>
                                <label for="email">Email_id</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col s12">
                            <div class="input-field col s12">
                                <textarea name = "faculty_review" id="faculty_review" class="materialize-textarea" >{{ fs.faculty_review }}</textarea>
                                <label for="faculty_review">Faculty Review</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col s6">
                            <div class="input-field col s6">
                                <textarea name = "faculty_points" id="faculty_points" class="materialize-textarea" >{{ fs.faculty_points}}</textarea>
                                <label for="faculty_points">Faculty Points</label>
                            </div>
                        </div>
                    
                        <div class=" col s6">
                            <div class="input-field col s6">
                                <textarea name = "faculty_grade" id="faculty_grade" class="materialize-textarea" >{{ fs.faculty_grade }}</textarea>
                                <label for="faculty_grade">Faculty Grade</label>
                            </div>
                        </div>
                    </div>
                            <div class=" col s12">
                              <div class ="center-align ">
                                  <button class="btn  purple darken-4 " type="submit" name="action"  >Submit</button>
                              </div>
                          </div>
                  </form>
                </div>
            </div>
            
                              
      </center>
      {% endfor %}  
</body>
</html>